@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);
	--color-card: var(--card);
	--color-border: var(--border);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
}

@layer base {
	body {
		font-family: var(--font-inter) sans-serif;
	}

	button {
		cursor: pointer;
		text-align: left;
	}

	:root {
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

		--safe-area-inset-top: calc(
			var(--tg-viewport-safe-area-inset-top) +
			var(--tg-viewport-content-safe-area-inset-top)
		);
		--safe-area-inset-right: calc(
			var(--tg-viewport-safe-area-inset-right) +
			var(--tg-viewport-content-safe-area-inset-right)
		);
		--safe-area-inset-bottom: calc(
			var(--tg-viewport-safe-area-inset-bottom) +
			var(--tg-viewport-content-safe-area-inset-bottom)
		);
		--safe-area-inset-left: calc(
			var(--tg-viewport-safe-area-inset-left) +
			var(--tg-viewport-content-safe-area-inset-left)
		);

		--background: var(--tg-theme-secondary-bg-color);
		--foreground: var(--tg-theme-text-color);
		--secondary: var(--tg-theme-secondary-bg-color);
		--muted: var(--tg-theme-subtitle-text-color);
		--card: var(--tg-theme-section-bg-color);
		--border: var(--tg-theme-section-separator-color);
		--accent: var(--tg-theme-button-color);
		--accent-foreground: var(--tg-theme-button-text-color);
		--destructive: var(--tg-theme-destructive-text-color);

		--map-background: #ffffff;
		--map-floor-fill: #f0efde;
		--map-floor-stroke: #d6d2c7;
		--map-room-fill: #fefef0;
		--map-room-fill-clickable: #fefef0;
		--map-room-stroke: #d6d2c7;
		--map-room-label: #000000;
		--map-stairs-icon: #000000;
	}

	.dark {
		--map-background: #1b2329;
		--map-floor-fill: #5b5b5b;
		--map-floor-stroke: #444342;
		--map-room-fill: #4b636a;
		--map-room-fill-clickable: #4b636a;
		--map-room-stroke: #444342;
		--map-room-label: #ffffff;
		--map-stairs-icon: #ffffff;
	}
}
