@import "tailwindcss";

@theme {
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-11: var(--neutral-11);
  --color-neutral-12: var(--neutral-12);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
}

@layer utilities {
  :root {
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
  }
}

@layer base {
  :root {
    --neutral-1: #fcfcfc;
    --neutral-2: #f9f9f9;
    --neutral-3: #efefef;
    --neutral-4: #e8e8e8;
    --neutral-5: #e0e0e0;
    --neutral-6: #d9d9d9;
    --neutral-7: #cecece;
    --neutral-8: #bbbbbb;
    --neutral-9: #8d8d8d;
    --neutral-10: #838383;
    --neutral-11: #646464;
    --neutral-12: #202020;

    --accent-1: #fffcfb;
    --accent-2: #fff5f1;
    --accent-3: #ffe9e0;
    --accent-4: #ffd7c7;
    --accent-5: #ffc9b5;
    --accent-6: #ffb8a0;
    --accent-7: #ffa287;
    --accent-8: #f98867;
    --accent-9: #fc4c01;
    --accent-10: #ee3d00;
    --accent-11: #de3300;
    --accent-12: #5d2919;
  }

  [data-theme="dark"] {
    --neutral-1: #000000;
    --neutral-2: #121212;
    --neutral-3: #1f1f1f;
    --neutral-4: #282828;
    --neutral-5: #303030;
    --neutral-6: #3a3a3a;
    --neutral-7: #484848;
    --neutral-8: #606060;
    --neutral-9: #6e6e6e;
    --neutral-10: #7c7c7c;
    --neutral-11: #b4b4b4;
    --neutral-12: #eeeeee;

    --accent-1: #000;
    --accent-2: #180e0b;
    --accent-3: #361309;
    --accent-4: #4e1100;
    --accent-5: #5f1903;
    --accent-6: #702711;
    --accent-7: #893820;
    --accent-8: #b14829;
    --accent-9: #fc4c01;
    --accent-10: #ee3d00;
    --accent-11: #ff9572;
    --accent-12: #ffd4c7;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --neutral-1: oklch(99.1% 0 none);
        --neutral-2: oklch(98.1% 0 none);
        --neutral-3: oklch(95.3% 0 none);
        --neutral-4: oklch(93% 0 none);
        --neutral-5: oklch(90.8% 0 none);
        --neutral-6: oklch(88.4% 0 none);
        --neutral-7: oklch(85.1% 0 none);
        --neutral-8: oklch(79.1% 0 none);
        --neutral-9: oklch(64.3% 0 none);
        --neutral-10: oklch(60.9% 0 none);
        --neutral-11: oklch(50.3% 0 none);
        --neutral-12: oklch(24.3% 0 none);

        --accent-1: oklch(99.2% 0.0031 36.93);
        --accent-2: oklch(98% 0.0149 36.93);
        --accent-3: oklch(95.7% 0.0364 36.93);
        --accent-4: oklch(92.2% 0.0809 36.93);
        --accent-5: oklch(89.1% 0.1074 36.93);
        --accent-6: oklch(85.6% 0.1146 36.93);
        --accent-7: oklch(80.5% 0.1217 36.93);
        --accent-8: oklch(74.4% 0.1456 36.93);
        --accent-9: oklch(66.2% 0.2215 36.93);
        --accent-10: oklch(62.2% 0.2215 36.93);
        --accent-11: oklch(58.6% 0.2146 36.93);
        --accent-12: oklch(34.9% 0.0811 36.93);
      }

      [data-theme="dark"] {
        --neutral-1: oklch(0% 0 none);
        --neutral-2: oklch(18.4% 0 none);
        --neutral-3: oklch(24% 0 none);
        --neutral-4: oklch(27.6% 0 none);
        --neutral-5: oklch(30.9% 0 none);
        --neutral-6: oklch(34.7% 0 none);
        --neutral-7: oklch(40.1% 0 none);
        --neutral-8: oklch(48.9% 0 none);
        --neutral-9: oklch(53.9% 0 none);
        --neutral-10: oklch(58.5% 0 none);
        --neutral-11: oklch(77% 0 none);
        --neutral-12: oklch(94.9% 0 none);

        --accent-1: oklch(0% 0.0131 36.93);
        --accent-2: oklch(17.7% 0.0192 36.93);
        --accent-3: oklch(24% 0.058 36.93);
        --accent-4: oklch(28.4% 0.0952 36.93);
        --accent-5: oklch(32.8% 0.1059 36.93);
        --accent-6: oklch(37.9% 0.1089 36.93);
        --accent-7: oklch(44.8% 0.1178 36.93);
        --accent-8: oklch(53.8% 0.1444 36.93);
        --accent-9: oklch(66.2% 0.2215 36.93);
        --accent-10: oklch(62.2% 0.2215 36.93);
        --accent-11: oklch(78.8% 0.1872 36.93);
        --accent-12: oklch(90.6% 0.0534 36.93);
      }
    }
  }

  body {
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    @apply bg-neutral-1 text-neutral-12 select-none
  }
}
